---
import Layout from "../../layouts/Layout.astro";
import ArticleTalents from "../../components/ArticleTalents.astro";
import Hero from "../../components/Hero.astro";
import ArticleExperience from "../../components/ArticleExperience.astro";
import ArticleEducation from "../../components/ArticleEducation.astro";
import ArticleProjet from "../../components/ArticleProjet.astro";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
export const prerender = true;

const lang: any = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Thomas Toulouse">
	<main
		class="bg-gradient-to-b from-light-100 to-light-400 bg-center text-black dark:bg-gradient-to-b dark:from-dark-900 dark:to-dark-700 dark:text-white"
	>
		<Hero
			titleMain={t("hero.titleMain")}
			subtitle="Thomas Toulouse"
			body={t("hero.body")}
			href="apropos"
		/>
		<ArticleTalents href="skillSection" />
		<ArticleExperience title={t("experience.title")} href="experienceSection" />
		<ArticleEducation title={t("education.title")} href="educationSection" />
		<ArticleProjet title={t("project.title")} href="projectSection" />
	</main>
</Layout>
