---
import Layout from "../../layouts/Layout.astro";

export const prerender = true;
import { getLangFromUrl, useTranslationsLicense } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslationsLicense(lang);
---

<Layout title="License Thomas Toulouse">
	<main
		class="bg-gradient-to-b from-light-100 to-light-400 bg-center text-black dark:bg-gradient-to-b dark:from-dark-900 dark:to-dark-700 dark:text-white"
	>
		<div class="mx-auto max-w-2xl px-4 py-20">
			<h1 class="mb-4 text-2xl font-bold">{t("licenseTitle")}</h1>

			<p class="mb-4">
				<em>Copyright {t("copyright")}</em>
			</p>

			<p class="mb-4">
				{t("conditionsintro")}
			</p>

			<ol class="mb-4 list-inside list-decimal">
				<li class="mb-2">
					{t("conditions1")}
				</li>
				<li class="mb-2">
					{t("conditions2")}
				</li>
				<li class="mb-2">
					{t("conditions3")}
				</li>
			</ol>

			<p class="mb-4">
				{t("disclaimer")}
			</p>
		</div>
	</main>
</Layout>
