---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
---

<Layout title="CV Thomas Toulouse">
  <main>
    <Hero
      titleMain="Bonjour je m'appelle"
      subtitle="Thomas Toulouse"
      body="Je suis un étudiant de deuxième année en informatique du cégep Beauce Appalaches. Je me considère comme étant quelqu’un de discipliné, curieux et ponctuel. Je suis prêt à apprendre plein de nouvelles technologies et à améliorer mes compétences avec votre entreprise. De plus, Je suis quelqu'un en qui on peut avoir totalement confiance. Je suis très travaillant et je suis persuadé que je peux être un employé efficace pour votre compagnie."
      href="apropos"
      image="/assets/971.jpg"
    />
  </main>
</Layout>
