---
import Layout from "../layouts/Layout.astro";
import ArticleTalents from "../components/ArticleTalents.astro";
import Hero from "../components/Hero.astro";
import ArticleExperience from "../components/ArticleExperience.astro";
import ArticleEducation from "../components/ArticleEducation.astro";
export const prerender = true;
---

<Layout title="CV Thomas Toulouse">
  <main
    class="dark:text-white bg-center text-black bg-gradient-to-t from-light-100 to-light-400 dark:bg-gradient-to-b dark:from-dark-900 dark:to-dark-700"
  >
    <Hero
      titleMain="Bonjour je m'appelle"
      subtitle="Thomas Toulouse"
      body="Je suis un étudiant de troisième année en informatique du cégep Beauce Appalaches. Je me considère comme étant quelqu’un de discipliné, curieux et ponctuel. Je suis prêt à apprendre plein de nouvelles technologies et à améliorer mes compétences avec votre entreprise. De plus, Je suis quelqu'un en qui on peut avoir totalement confiance. Je suis très travaillant et je suis persuadé que je peux être un employé efficace pour votre compagnie."
      href="apropos"
    />
    <ArticleTalents title="Talents" href="skillSection" />
    <ArticleExperience title="Expérience" href="experienceSection" />
    <ArticleEducation title="Éducation" href="educationSection" />
  </main>
</Layout>
