---
export interface Props {
	href: string;
	href: string;
}

import Carousel from "../components/react/Carousel";
import { getLangFromUrl } from "../i18n/utils";
import TalentGrid from "../components/react/TalentGrid";
import TalentsJson from "../data/ui.json";

const lang = getLangFromUrl(Astro.url).toString();
const talents = TalentsJson[lang].skills.skillsList;
const sortedTalents = [...talents].sort((a, b) => a.title.localeCompare(b.title));
const { href } = Astro.props;
---

<section>
	<div id={href} class="mb-8 py-40 font-futura-pt text-black dark:text-white">
		<div class="container mx-auto px-4">
			<div class="flex flex-col items-center">
				<TalentGrid client:only="react" content={sortedTalents} />
			</div>
		</div>
	</div>
</section>
