---
export interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<div
	class="mx-10 mt-10 h-auto rounded-lg bg-white px-4 py-12 shadow-lg shadow-LapisLazuli-800 sm:w-full md:w-64 lg:w-72 xl:w-96 dark:bg-dark-600"
>
	<h2 class="text-gray-900 dark:text-gray-100 mb-4 text-xl font-bold">
		{title}
	</h2>
	<p class="text-gray-700 dark:text-gray-400">
		{description}
	</p>
</div>
