---
export interface Props {
  titleMain: string;
  body: string;
  href: string;
  subtitle: string;
}
import Computer from "./react/Computer";

const { href, titleMain, subtitle, body } = Astro.props;
---

<section id={href}>
  <div
    class="bg-light-500 dark:bg-dark-600 font-futura-pt dark:text-white py-20 mb-10"
  >
    <div
      class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24"
    >
      <div class="flex flex-col w-full lg:w-1/2 justify-center items-start p-8">
        <h1 class="text-4xl md:text-6xl font-bold tracking-tight mb-4">
          {titleMain}
        </h1>
        <h2
          class="text-2xl md:text-4xl text-black bg-WinterWizard dark:text-white dark:bg-DigitalOceanBlue-200 leading-relaxed md:leading-snug mb-6 font-bold"
        >
          {subtitle}
        </h2>
        <p
          class="text-lg text-justify dark:text-neutral-200 leading-relaxed transition-all duration-200 ease-in-out"
        >
          {body}
        </p>
      </div>
      <div
        class="flex justify-center w-full lg:w-1/2 mt-6 mb-6 md:mb-0 md:mt-0"
      >
        <div class="h-auto px-8">
          <div class="w-64 h-64 xl:w-80 xl:h-80">
            <Computer client:only="react" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
