---
export interface Props {
  title: string;
}
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../global.css";
import { ui } from "../i18n/ui";
const { title } = Astro.props;
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" /><meta
      name="description"
      property="og:image"
      content="Cv Thomas Toulouse"
    /><meta name="viewport" content="width=device-width" />

    <link rel="image_src" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <meta name="google-site-verification" content="yRA-BlBZjXi6Xh7VNeVvVYKvq9uML2WzFSde2AirMGQ" />

  <body>
    <Header />
    <slot />
  </body>
  <Footer
    title="Thomas Toulouse"
    subtitle1={t("about.title")}
    subtitle2={t("skills.title")}
    subtitle3={t("experience.title")}
    subtitle4={t("education.title")}
    subtitle5={t("project.title")}
    phone="418-957-0141"
    email="Sir-Thom1702@proton.me"
    license="BSD-3-Clause license"
    source="https://github.com/Sir-Thom/CvWebsiteAstro"
  />
</html>
