---
export interface Props {
  title: string;
}
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
  <Footer
    title="Thomas Toulouse"
    subtitle1="apropos"
    subtitle2="Talents"
    subtitle3="Expérience"
    subtitle4="Éducation"
    subtitle5="Projets"
    phone="418-957-0141"
    email="Sir-Thom1702@proton.me"
  />
</html>
