---
export interface Props {
	title: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../global.css";

import { languages } from "../i18n/ui";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const { title } = Astro.props;
const lang: any = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={languages[lang].toLocaleLowerCase().slice(0, 2)}>
	<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7577W4Q17K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7577W4Q17K');
</script>

		<script is:inline>
			const theme = (() => {
			  if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
				return localStorage.getItem("theme");
			  }
			  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
			  }
			  return "light";
			})();
		  
			if (theme === "light") {
			  document.documentElement.classList.remove("dark");
			} else {
			  document.documentElement.classList.add("dark");
			}
			window.localStorage.setItem("theme", theme);
		  </script>
		<link rel="preload" href="/styles/global.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Cv Thomas Toulouse" />
		<meta property="og:title" content={title} />
		<meta property="og:image" content="Cv Thomas Toulouse" />
		<meta name="robots" content="all" />
		<meta
			http-equiv="Content-Security-Policy: default-src 'self' *.google-analytics.com ajax.googleapis.com cdnjs.cloudflare.com cdnjs.com code.jquery.com unpkg.com; style-src 'self' use.fontawesome.com; font-src 'self' fonts.googleapis.com fonts.gstatic.com;"
		/>
		<link  href="https://github.com/Sir-Thom" rel="me" />

		<link rel="webmention" href="https://webmention.io/
.ca_fr_/webmention" />
		<link rel="webmention" href="https://webmention.io/thomastoulouse.ca_fr_/webmention" />
		<link rel="image_src" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta translate="no" name="Cv Thomas Toulouse" content="notranslate" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="google-site-verification" content="yRA-BlBZjXi6Xh7VNeVvVYKvq9uML2WzFSde2AirMGQ" />
		<link rel="stylesheet" href="/styles/global.css" />
	</head>

	<body>
		<Header />
		<slot />
		<Footer
			title="Thomas Toulouse"
			subtitle1={t("about.title")}
			subtitle2={t("skills.title")}
			subtitle3={t("experience.title")}
			subtitle4={t("education.title")}
			subtitle5={t("project.title")}
			phone="418-957-0141"
			email="Sir-Thom1702@proton.me"
			license="BSD-3-Clause license"
			source="https://github.com/Sir-Thom/thomastoulouse.ca"
		/>
	</body>
</html>
